$back-ground-color-dark-theme: rgb(47, 47, 47);

@mixin team($bgColor,$fontColor,$borderColor) {
  border-style: solid;
  background-color: $bgColor;
  color: $fontColor;
  border-color: $borderColor;
  border-radius: 10px;
}

@mixin body($bgColor) {
  body {
    background-color: $bgColor;
  }
}

@mixin switches($bgColor,$fontColor,$borderColor) {
  max-height: 55px;
  padding: 10px 20px;
  border-style: solid;
  border-radius: 10px;
  background-color: $bgColor;
  color: $fontColor;
  border-color: $borderColor;
  .sort-switch {
    float: right;
  }
}

@mixin add-team($bgColor,$fontColor,$borderColor) {
  border-radius: 10px;
  border-style: solid;
  background-color: $bgColor;
  color: $fontColor;
  border-color: $borderColor;

  .form-open-button {
    font-size: 0.7em;
    float: right;
  }
  .create-team-button {
    background-color: blue;
    font-size: 0.7em;
    float: right;
  }
}

@mixin dark-theme {
  background-color: #2b2b2b;
  color: white;
  border-color: #000000;
}

@mixin marks-app($fontColor) {
  color: $fontColor;
  .add-team-dark {
    @include add-team($back-ground-color-dark-theme, #ffffff, #000000)
  }

  .add-team-white {
    @include add-team(#DCDCDC, #000000, #ffffff)
  }

  .team-white {
    @include team(#DCDCDC, #000000, #ffffff)
  }

  .team-dark {
    @include team($back-ground-color-dark-theme, #ffffff, #000000)

  }

  .delete-button {
    text-align: right;
    cursor: pointer;

  }

  .history-button {
    cursor: pointer;
  }

  .sub-button {
    background-color: #FF7700;
    font-size: 0.7em;
  }

  .add-button {
    float: right;
    font-size: 0.7em;
  }

  .switches-white {
    @include switches(#DCDCDC, #000000, #ffffff)
  }

  .switches-dark {
    @include switches($back-ground-color-dark-theme, #ffffff, #000000)
  }
}

.mark-app-white {
  @include marks-app(#000000)
}

.mark-app-dark {
  @include marks-app(#ffffff)
}

@media only screen and (max-width: 768px) {
  .mark-app-dark, .mark-app-white {
    font-size: 0.9em;

    ::-webkit-input-placeholder {
      font-size: 0.9em;
    }
  }
}

@media only screen and (max-width: 576px) {
  .mark-app-dark, .mark-app-white {
    font-size: 0.8em;

    ::-webkit-input-placeholder {
      font-size: 0.8em;
    }
  }
}